In [1]:
import openai
import os
from dotenv import dotenv_values, load_dotenv
load_dotenv()
openai.api_key = os.getenv('OPEN_AI_API_KEY')

In [5]:
import pandas as pd

In [6]:
import numpy as np

In [8]:
df = pd.read_csv("dataset.csv")
df

      Word
0      Pen
1   Pencil
2      Car
3     Auto
4  Vehicle